# **.code-workspace
.DS_Store
/data
/kama/lib/detectors/mmdetection
mmtracking
**ws_link
**/__pycache__
/tmp
/out
/results
# /batch*.sh
# /sync*.sh
# /upload*.sh
# /download*.sh
/torch_performance_linter*
/datasets
/local_results
/metrics
/batch*.bat
/batch*.sh