:root {
    --small-thumb-border-radius: 2px;
    --larger-thumb-border-radius: 3px;
}

html {
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Google Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media(min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.base-grid,
.n-header,
.n-byline,
.n-title,
.n-article,
.n-footer {
    display: grid;
    justify-items: stretch;
    grid-template-columns: [screen-start] 8px [page-start kicker-start text-start gutter-start middle-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [text-end page-end gutter-end kicker-end middle-end] 8px [screen-end];
    grid-column-gap: 8px;
}

.grid {
    display: grid;
    grid-column-gap: 8px;
}

@media(min-width: 768px) {

    .base-grid,
    .n-header,
    .n-byline,
    .n-title,
    .n-article,
    .n-footer {
        display: grid;
        justify-items: stretch;
        grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start text-start] 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px [ kicker-end text-end gutter-start] 45px [middle-end] 45px [page-end gutter-end] 1fr [screen-end];
        grid-column-gap: 16px;
    }

    .grid {
        grid-column-gap: 16px;
    }
}

@media(min-width: 1000px) {

    .base-grid,
    .n-header,
    .n-byline,
    .n-title,
    .n-article,
    .n-footer {
        display: grid;
        justify-items: stretch;
        grid-template-columns: [screen-start] 1fr [page-start kicker-start] 50px [middle-start] 50px [text-start kicker-end] 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px [text-end gutter-start] 50px [middle-end] 50px [page-end gutter-end] 1fr [screen-end];
        grid-column-gap: 16px;
    }

    .grid {
        grid-column-gap: 16px;
    }
}

@media (min-width: 1180px) {

    .base-grid,
    .n-header,
    .n-byline,
    .n-title,
    .n-article,
    .n-footer {
        display: grid;
        justify-items: stretch;
        grid-template-columns: [screen-start] 1fr [page-start kicker-start] 60px [middle-start] 60px [text-start kicker-end] 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px [text-end gutter-start] 60px [middle-end] 60px [page-end gutter-end] 1fr [screen-end];
        grid-column-gap: 32px;
    }

    .grid {
        grid-column-gap: 32px;
    }

}

.base-grid {
    grid-column: screen;
}

/* default grid column assignments */
.n-title>* {
    grid-column: text;
}

.n-article>* {
    grid-column: text;
}

.n-header {
    height: 0px;
}

.n-footer {
    height: 60px;
}

.n-title {
    padding: 4rem 0 1.5rem;
}

.l-page {
    grid-column: page;
}

.l-article {
    grid-column: text;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

.pixelated {
    image-rendering: pixelated;
}

strong {
    font-weight: 600;
}

a:link {
    color: #76B900;
}

a:visited {
    color: green;
}
/*------------------------------------------------------------------*/
/* title */
.n-title h1 {
    font-family: "Google Sans", system-ui, Arial, sans-serif;
    color: #082333;
    grid-column: text;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .n-title h1 {
        font-size: 48px;
    }
}

/*------------------------------------------------------------------*/
/* article */
.n-article {
    text-align: justify;
    color: rgb(33, 40, 53);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 2rem;
}

.n-article h2 {
    text-align: left;
    contain: layout style;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25em;
    margin: 2rem 0 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .n-article {
        line-height: 1.7;
    }

    .n-article h2 {
        font-size: 36px;
    }
}

/*------------------------------------------------------------------*/
/* byline */

.n-byline {
    contain: style;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    line-height: 1.8em;
    padding: 1.5rem 0;
    min-height: 1.8em;
}

.n-byline .byline {
    grid-column: text;
}

.byline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
    display: grid;
    grid-column-gap: 8px;
}

@media (min-width: 768px) {
    .grid {
        grid-column-gap: 16px;
    }
}

.n-byline p {
    margin: 0;
}

.n-byline h3 {
    font-size: 0.6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-transform: uppercase;
}

.n-byline .authors-affiliations {
    grid-column-end: span 2;
    grid-template-columns: 1fr 1fr;
}

.n-byline .authors-venue {
    grid-column-end: span 2;
    grid-template-columns: 1fr 1fr;
}

/*------------------------------------------------------------------*/
/* figures */
.figure {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.authors {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.authors li {
    padding: 0 0.5rem;
    display: inline-block;
}

ul.authors sup {
    color: rgb(126, 126, 126);
}

ul.authors.affiliations {
    margin-top: 0.5rem;
}

ul.authors.affiliations li {
    color: rgb(126, 126, 126);
}

ul.authors.venue li {
    margin-top: 0.5rem;
    color: rgb(0, 0, 0);
}

ul.authors.links li {
    margin-top: 0.8rem;
    padding: 0 0.1rem;
}

/* Style buttons */
.btn {
    background-color: #76B900; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 12px; /* Some padding */
	font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 18px;
}
  
  /* Darker background on mouse-over */
.btn:hover {
    background-color: green;
}

/* For BibTeX */
pre {
    margin-top: 0px;
    font-size: 0.85em;
    padding-left: 20px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: rgb(235, 235, 235);
    overflow-x: auto;
}

/* video caption */

.videocaption {
    display: flex;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.disable-selection {
    user-select: none;
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.shadow {
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.35);
}

.emph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hidden {
    display: none;
}

h3.figtitle {
    margin-top: 0;
    margin-bottom: 0;
}

h3.results {
    margin-top: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.fig-title-line {
    grid-template-columns: 2fr 0.75fr;
}

.fig-thumb-image-row {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.fig-thumb-image-row-item {
    width: 100%;
    min-height: auto;
    border-radius: var(--small-thumb-border-radius);
}

.fig-dataset-button {
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    opacity: 0.6;
}

.fig-dataset-button.active {
    border-color: rgba(0, 0, 0, 0.7);
    border-width: 1px;
    border-style: solid;
    opacity: 1.0;
}

.grid {
    display: grid;
    grid-column-gap: 8px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 30px;
}
  
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_without_cap {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}
